*{
			padding: 0;
			margin: 0;
		}
		body{
			background: rgb(205,205,205);
		}
		.mainTop{
			width: 100%;
			background: rgb(50,50,50);
			font-size: 2em;
			color: rgb(221,221,221);
			text-align: center;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius:10px; 
		}										/*最上层的div*/
		.mainWrite{
			width: 30%;
			position: relative;
			left: 50%;
			margin-left: -15%;
			background: rgb(50,50,50);
			border-bottom-left-radius: 10px;
			border-bottom-right-radius:10px;
		}										/*中间div，是表单的父级标签*/
		#inputToDo{
			height: 20%;
			width: 60%;
			float: left;
			border-radius: 7px;
			position:relative;
			left: 20%;
			top: 20%;
		}										/*表单的id*/
		.submitToDo{
			outline:none;
			color: white;
			border: none;
			width: 20%;
			height: 30%;
			text-align: center;
			cursor: pointer;
			background: rgb(76,175,80);
			border-radius: 5px;
			position: relative;
			top: 60%;
			left: -25%;
		}										/*按钮，触发点击事件，提交表单*/
		.prepare{
			width:50%;
			float: left;
			background:#707070;
			border-radius: 10px;
		}										/*用来存放plan的div*/
		.start{
			width: 50%;
			float: left;
			background: #919191;
			border-radius:10px;
		}										/*用来存放FINISH的div*/
		.Etherious_Natsu_Dragneel{
			width: 100%;
			text-align: center;
		}										/*页面底部的div*/
		li{
			list-style: none;
			height: 40px;
			line-height: 40px;
			width: 80%;
			background: white;
			border-radius: 5px;
			position: relative;
			left: 10%;
			margin-top: 15px;
			margin-bottom: 5px;
		}										/*所有的li标签，其中包括每一个plan与删除、修改和完成按钮，和每一个finish删除、修改和重做*/
		.worlds{
			display: inline-block;
			width: 70%;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}										/*	li标签中的plan*/
		.finish{
			height: 100%;
			width: 10%;
			color: rgb(50,50,50);
			text-align: center;
			background: rgb(76,175,80);
			border-top-left-radius: 3px;
			border-bottom-left-radius: 5px;
			float: right;
		}
		.finish:hover{
			cursor: pointer;
		}										/*完成按钮*/
		.delet{
			height: 40px;
			width: 10%;
			color: rgb(50,50,50);
			float: right;
			text-align: center;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
			background:rgb(255,96,96);
		}
		.delet:hover{
			cursor: pointer;
		}										/*删除按钮*/
		.change{
			height:100%;
			width: 10%;
			color: rgb(50,50,50);
			float: right;
			background: rgb(255,171,87);
			text-align: center;
		}
		.change:hover{
			cursor: pointer;
		}										/*修改按钮*/
		








		.worldsFinish{
			display: inline-block;
			width: 70%;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}										/*	li标签中的plan*/
		.reDo{
			height: 100%;
			width: 10%;
			color: rgb(50,50,50);
			text-align: center;
			background: rgb(76,175,80);
			border-top-left-radius: 3px;
			border-bottom-left-radius: 5px;
			float: right;
		}
		.reDo:hover{
			cursor: pointer;
		}										/*完成按钮*/
		.nodeDelet{
			height: 100%;
			width: 10%;
			color: rgb(50,50,50);
			float: right;
			text-align: center;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
			background:rgb(255,96,96);
		}
		.nodeDelet:hover{
			cursor: pointer;
		}										/*删除按钮*/
		.nodeChange{
			height:100%;
			width: 10%;
			color: rgb(50,50,50);
			float: right;
			background: rgb(255,171,87);
			text-align: center;
		}
		.nodeChange:hover{
			cursor: pointer;
		}	
